.vscode/arduino.json
.vscode/settings.json
.vscode/c_cpp_properties.json
*.db
/.vs
/Tests/NSerial Test/.vs/NSerial Test/FileContentIndex
/Tests/NSerial Test/.vs/NSerial Test/v17/Preview
/Tests/NSerial Test/.vs/NSerial Test/v17
.vscode
/.vscode
Reference/Reference Sketch/__vm/.Reference Sketch.vsarduino.h
Reference/Reference Sketch/__vm/Compile.vmps.xml
Reference/Reference Sketch/__vm/Configuration.Debug.vmps.xml
Reference/Reference Sketch/__vm/Upload.vmps.xml
Tests/NSerial Test (LCD I2C)/__vm/.NSerial Test (LCD I2C).vsarduino.h
Tests/NSerial Test (LCD I2C)/__vm/Compile.vmps.xml
Tests/NSerial Test (LCD I2C)/__vm/Configuration.Debug.vmps.xml
Tests/NSerial Test (LCD I2C)/__vm/Upload.vmps.xml
Tools/Installer/bin/Debug/dirs
