[submodule "NColor"]
	path = NColor
	url = git@github.com:Narwhalsss360/NColor.git
[submodule "NFuncs"]
	path = NFuncs
	url = git@github.com:Narwhalsss360/NFuncs.git
[submodule "NRotary"]
	path = NRotary
	url = git@github.com:Narwhalsss360/NRotary.git
[submodule "NPush"]
	path = NPush
	url = git@github.com:Narwhalsss360/NPush.git
[submodule "NDefs"]
	path = NDefs
	url = git@github.com:Narwhalsss360/NDefs.git
[submodule "NWire"]
	path = NWire
	url = git@github.com:Narwhalsss360/NWire.git
[submodule "tools/Nlibrary-registry"]
	path = tools/Nlibrary-registry
	url = git@github.com:Narwhalsss360/Nlibrary-registry.git
[submodule "NSerialCom"]
	path = NSerialCom
	url = git@github.com:Narwhalsss360/NSerialCom.git
[submodule "NTimer"]
	path = NTimer
	url = git@github.com:Narwhalsss360/NTimer.git
[submodule "NHC-SR04"]
	path = NHC-SR04
	url = git@github.com:Narwhalsss360/NHC-SR04.git
[submodule "NEvents"]
	path = NEvents
	url = git@github.com:Narwhalsss360/NEvents.git
