.vscode/arduino.json
.vscode/settings.json
.vscode/c_cpp_properties.json
*.db
/.vs
/Tests/NSerial Test/.vs/NSerial Test/FileContentIndex
/Tests/NSerial Test/.vs/NSerial Test/v17/Preview
/Tests/NSerial Test/.vs/NSerial Test/v17
.vscode
/.vscode